body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    margin: 0px;
}

header {
    background-color: #00246B;
    color: #fff;
    padding: 1em;
}

header h1 {
    font-size: 2.5em;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 2em;
}

nav li {
    width: 12rem;
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

nav li:hover {
    border: 1px solid #ccc;
    border-radius: 5px;
}

nav a {
    display: flex;
    padding: .5rem;
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
    border-radius: 1rem;
    transition-duration: .5s;
    color: #fff;
}

nav a:hover {
    color: #ccc;
}

main {
    min-height: 700px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main a:hover {
    color: #00246B;
    font-weight: bolder;
}

img {
    width: 600px;
    padding: 2em;
}

article {
    width: 800px;
    background-color: #CADCFC;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 2em;
}

a {
    color: #333;
    text-decoration: none;
}

footer {
    background-color: #00246B;
    color: #fff;
    text-align: center;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}